{% from "auth/_formhelpers.html" import render_field, render_tos, render_invite %}

{% if registration_level == 'closed' %}
<h3>Registration is currently closed</h3>

{% elif registration_level == 'invite' %}

  <h3>Register</h3>
  <dl>
    {{ render_field(regForm.username, id="userregister", class="loginBoxInput regBoxEnter") }}
    {{ render_field(regForm.password, id="passregister", class="loginBoxInput regBoxEnter") }}
    {{ render_field(regForm.confirm, id="passverify", class="loginBoxInput regBoxEnter") }}
    {{ render_invite(regForm.invite_code, id="invitecode", class="loginBoxInput regBoxEnter") }}
    {{ render_tos(regForm.accept_tos, id="tos") }}
  </dl>
  <p><button type="submit" id="submit2" class="btn btn-success">Register</button></p>

  <p><div id="register-message"><ul></ul></div></p>

{% elif registration_level == 'open' %}
  <h3>Register</h3>
  <dl>
    {{ render_field(regForm.username, id="userregister", class="loginBoxInput regBoxEnter") }}
    {{ render_field(regForm.password, id="passregister", class="loginBoxInput regBoxEnter") }}
    {{ render_field(regForm.confirm, id="passverify", class="loginBoxInput regBoxEnter") }}
    {{ render_tos(regForm.accept_tos, id="tos") }}
  </dl>
  <p><button type="submit" id="submit2" class="btn btn-success">Register</button></p>

  <p><div id="register-message"><ul></ul></div></p>

{% else %}
<h3>Registration is currently closed</h3>
{% endif %}
