
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/lib/jquery-1.7.2.min.js"></script>
    <script src="../static/js/lib/bootstrap.js"></script>
    <script src="../static/js/lib/jglance-min.js"></script>
    <script src="../static/js/lib/jquery.filedrop.js"></script>
    <script src="../static/js/lib/dropscript.js"></script>
    <script src="../static/js/custom/login.js"></script>
    <script src="../static/js/custom/nav.js"></script>
    <script src="../static/js/custom/tooltips.js"></script>
    <!-- <script src="../static/js/gallery.js"></script> -->

<!-- Load JGlance photos -->
<script>
var photos = [

{% for p in post %}
   {filename:'{{ p.filename }}',width:640,height:360,caption:"{{ p.caption }}",thumbnail:'{{ s3ThumbsURL }}{{ p.thumbnail }}'},
{% endfor %}

];

var jg = new JGlance({
        container: $('#results'),
        maxPerRow: 4,
        photoErrorCallback: function (photo, img) {
            img.attr( 'src', 'http://placehold.it/350x150' ).addClass( 'broken-image' );
        }
    });
// we pass the photos via 'push' method
jg.push( photos );
</script>

<!-- Login Modal -->
<div class="modal hide" id="login-form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Register or Sign in</h3>
    </div>
    <div class="modal-body">
            
            <p><input id="user" class="loginBoxInput" type="text" name="username" value="username" autocomplete="off"></p>
            <p><input id="pass" class="loginBoxInput" type="password" name="password" autocomplete="off"></p>
            <p><input id="pass-clear" class="loginBoxInput" type="text" name="password" value="password" autocomplete="off"></p>
            <p><div id="login-message"></div></p>
        
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button type="submit" id="submit" class="btn btn-primary">Sign in</button>
    </div>

</div>



<!-- End of Document -->
  </body>
</html>
