
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/lib/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jglance-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-ui-1.8.17.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.annotate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.filedrop.js') }}"></script>

    <script src="{{ url_for('static', filename='js/custom/dropscript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom/gallery.js') }}"></script>
    <script src="/static/js/custom/custom.js?v=1"></script>

    <!-- Load fancybox -->
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>

{% if requires_loginForms == True %}
<!-- Login Modal -->
<div class="modal hide" id="login-form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Sign in or Register</h3>
    </div>
    <div class="modal-body">

            <div class="pull-left login-form">
            {% include 'auth/login.html' %}
            </div>

            <div class="pull-right register-form">
            {% include 'auth/register.html' %}
            </div>
        
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

</div>
{% endif %}


<ul class="footer-links center">
  <li><a href="/help/">Help</a></li>
  <li><a href="/tos/">Terms</a></li>
  <li><a href="https://github.com/alfg/screenchop/">Code</a></li>
  <li><a href="/contact/">Contact</a></li>
  {% if registration_level == 'invite' and 'username' not in session %}
  <li><a href="/request-invite/" style="color:red;">Request Invite</a></li>
  {% endif %}
</ul> 

<!-- End of Document -->
  </body>
</html>
