
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/lib/jquery-1.7.2.min.js"></script>
    <script src="../static/js/lib/bootstrap.js"></script>
    <script src="../static/js/lib/jglance-min.js"></script>
    <script src="../static/js/lib/jquery.fancybox.pack.js"></script>
    {% if tagging == True %}
    <script src="../static/js/lib/jquery-ui-1.8.17.js"></script>
    <script src="../static/js/lib/jquery.annotate.js"></script>
    <script src="../static/js/custom/annotations.js"></script>
    {% endif %}
    {% if active_page == "upload" %}
    <script src="../static/js/lib/jquery.filedrop.js"></script>
    <script src="../static/js/custom/dropscript.js"></script>
    {% endif %}
    <script src="../static/js/custom/login.js"></script>
    <script src="../static/js/custom/tooltips.js"></script>
    {% if active_page == "home" or active_page == "tags" or active_page == "following" %}
    <script src="../static/js/custom/gallery.js"></script>
    {% endif %}
    <script src="../static/js/custom/votes.js"></script>
    {% if active_page == "tags" %}
    <script src="../static/js/custom/tagcloud.js"></script>
    {% endif %}
    <!-- Scripts that don't need a js file -->
    
    <!-- Load fancybox -->
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>

{% if requires_loginForms == True %}
<!-- Login Modal -->
<div class="modal hide" id="login-form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Sign in or Register</h3>
    </div>
    <div class="modal-body">

            <div class="pull-left login-form">
            {% include 'auth/login.html' %}
            </div>

            <div class="pull-right register-form">
            {% include 'auth/register.html' %}
            </div>
        
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

</div>
{% endif %}


<!-- End of Document -->
  </body>
</html>
