<!DOCTYPE HTML>
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Share your gaming screenshots!">
    <meta http-equiv="Content-Type" CONTENT="text/html; charset=iso-8859-1">
    <meta NAME="robots" CONTENT="noindex">
    <title>Screenchop! - Gaming screenshot sharing and ranking</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    {# load Open Graph tags for Chops and social sharing #}
    {% if chop %}
    <!-- Social Open Graph Meta -->
    <meta property="og:title" content="Screenchop"/>
    <meta property="og:image" content="{{ s3MediumURL }}{{ chop.filename }}"/>
    <meta property="og:description" content="{% if chop.caption %} {{ chop.caption}} {% else %} &nbsp; {% endif %}"/>
    {% endif %}

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <link href="../static/css/jglance.css" rel="stylesheet">
    <link href="../static/css/jquery.fancybox.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    {% if tagging == True %}
    <link rel="stylesheet" href="../static/css/annotation.css">
    {% endif %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- <link href="../static/css/bootstrap-responsive.css" rel="stylesheet"> -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
    
    {# Google Analytics Tracking Code if account exists in config #}
    {% if google_analytics_account %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ google_analytics_account }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}        
  </head>
