<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/"><h3 class="s-logo-text">Screenchop</h3><!-- <div class="s-logo"></div> --></a>
      <ul class="nav">
        <li {% if active_page=='home' %}class="active" {% endif %}>
          <a href="/">Chops</a>
        </li>
        <li {% if active_page=='tags' %}class="active" {% endif %}>
          <a href="/tags">Tags</a>
        </li>
        <li {% if active_page=='following' %}class="active" {% endif %}>
          <a href="/following">Following</a>
        </li>
      </ul>
      <ul class="nav pull-right navbarupload">
        <!-- Social buttons -->
        <li class="social-nav">
          <a href="http://www.facebook.com/sharer.php?u=http://screenchop.com" onclick="socialPopup(this.href); return false">
                    <i class="icon-facebook-sign"></i></a>
        </li>
        <li class="social-nav">
          <a href="https://twitter.com/share?text=Gaming%20screenshot%20sharing%20and%20ranking!&url=http://screenchop.com"
          onclick="socialPopup(this.href); return false">
                    <i class="icon-twitter-sign"></i></a>
        </li>
        <li class="social-nav">
          <a href="https://plus.google.com/share?url=http://screenchop.com" onclick="socialPopup(this.href); return false">
                    <i class="icon-google-plus-sign"></i></a>
        </li>
        <li class="social-nav" style="margin-right: 15px;">
          <a href="http://github.com/alfg/screenchop"><i class="icon-github-sign"></i></a>
        </li>
        <li {% if active_page=='help' %}class="active" {% endif %}>
          <a href="/help"><i class="icon-question-sign"></i> Help</a>
          </li>
        {% if 'username' in session %}
        <li>
          <div>
            <a class="btn btn-success" href="/upload"><i class="icon-upload-alt"></i> Upload</a>
          </div>
        </li>
        <li>
          <div class="user-nav btn-group">
            <a class="btn btn-primary" href="/account"><i class="icon-user icon-white"></i> {{ session.username }}</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/account"><i class="icon-user"></i> Profile</a>
              </li>
              <li>
                <a href="/account/uploads"><i class="icon-picture"></i> Uploads</a>
              </li>
              <li>
                <a href="/account/password"><i class="icon-lock"></i> Update Password</a>
              </li>
              <li>
                <a href="/help"><i class="icon-question-sign"></i> Help</a>
              </li>
              <li>
                <a href="/logout"><i class="icon-signout"></i> Logout</a>
              </li>
            </ul>
          </div>
        </li>
        {% else %}
        <li>
          <div>
            <a class="btn btn-primary user-nav" href="#login-form" data-toggle="modal">Login</a>
            <a class="btn btn-success user-nav" href="#login-form" data-toggle="modal">Register</a>
          </div>
        </li>
        {% endif %}</ul>
    </div>
  </div>
</div>
