    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><div class="s-logo"></div></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><h6>Beta</h6></li>
              <li {% if active_page == 'home' %}class="active"{% endif %}><a href="/">Chops</a></li>
              <li {% if active_page == 'tags' %}class="active"{% endif %}><a href="/tags">Tags</a></li>
              <li {% if active_page == 'following' %}class="active"{% endif %}><a href="/following">Following</a></li>
            </ul>
            <ul class="nav pull-right navbarupload">
                
                {% if 'username' in session %}                
                <li>
                    <div>
                        <a class="btn btn-success" href="/upload">Upload</a>
                    </div>
                </li>
                <li>
                    <div class="user-nav btn-group">
                        <a class="btn btn-primary" href="/account"><i class="icon-user icon-white"></i> {{ session.username }}</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/account"><i class="icon-user"></i> Profile</a></li>
                            <li><a href="/account/uploads"><i class="icon-picture"></i> Uploads</a></li>
                            <li><a href="/account/password"><i class="icon-lock"></i> Update Password</a></li>
                            <li><a href="/logout"><i class="icon-signout"></i> Logout</a></li>
                        </ul>
                    </div>    
                </li>
                {% else %}
                <li>
                    <div>
                        <a class="btn btn-primary user-nav" href="#login-form" data-toggle="modal">Login</a>
                        <a class="btn btn-success user-nav" href="#login-form" data-toggle="modal">Register</a>
                    </div>
                </li>
                
                {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
