{% set active_page = "chop" %}

{% include 'layout/header.html' %}

<!-- Gallery config variables -->

    <body>
    
    <!-- onClick popup windows for facebook share -->
    <script>
    function socialPopup (url) {
        popup = window.open(url, "social_popup",
            "width=660,height=400,status=no,scrollbars=no,resizable=no");
            popup.focus();
            }
    </script>


    {% include 'layout/nav.html' %}
    
   

    <div class="container">
    
        <!-- Display flash message if any errors -->
        {% with message = get_flashed_messages() %}
        {% if message %}
        <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
                {{ message[0] }}
        </div>
        {% endif %}
        {% endwith %}
        
        <div class="row-fluid">

            <div>
                <div id="contents">
                <!-- The Content -->
                
                <div>
                
                <div id="chop-image">
                    <a href="http://images.screenchop.com/full/{{ chop.filename }}">
                        <img src="http://images.screenchop.com/medium/{{ chop.filename }}" alt="">
                    </a>
                </div>
                
                {% if chop.caption != None %}
                <div class="well">                
                    <blockquote>
                        <p>{{ chop.caption }}</p>
                        <small>{{ chop.submitter }}</small>
                    </blockquote>
                </div>
                {% else %}
                {% endif %}
                
                <div id="social-area">
                    <div class="pull-left vote-icons">
                        <span class="votes">1234</span>
                        <span style="font-size: 28px;">
                            <a href="#"><i class="icon-circle-arrow-up icon-large"></i></a>
                        </span>
                        <span style="font-size: 28px;">
                            <a href="#"><i class="icon-circle-arrow-down icon-large"></i></a>
                        </span>
                    </div>
                
                
                    <div class="pull-right">
                    <input class="share-url" value="{{ shortURL }}{{ chop.filename }}">
                    </div>
                
                    <div class="pull-right">
                    <ul class="share-group">
                    <li class="primary-service">
                         <a class="share-service-button" href="http://www.facebook.com/sharer.php?u={{ fullURL }}{{ chop.filename }}" onclick="socialPopup(this.href); return false">
                         <img src="../static/img/pixel.gif" alt="Facebook" class="share-service-icon share-service-icon-facebook">
                         </a>
                    </li><li class="primary-service">
                         <a class="share-service-button" href="https://twitter.com/share?text={{ shortURL }}{{ chop.filename }}" onclick="socialPopup(this.href); return false">
                         <img src="../static/img/pixel.gif" alt="Twitter" class="share-service-icon share-service-icon-twitter">
                         </a>
                    </li><li class="primary-service">
                         <a class="share-service-button" href="https://plus.google.com/share?url={{ fullURL }}{{ chop.filename }}" onclick="socialPopup(this.href); return false">
                         <img src="../static/img/pixel.gif" alt="Google+" class="share-service-icon share-service-icon-googleplus">
                         </a>
                    </li></ul>
                    </div>
                
                </div>

                <!-- Load Disqus -->
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'screenchop'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
                

                <!-- /The Content -->
                </div>
            </div>

        </div>
    </div> <!-- /container -->

{% include 'layout/footer.html' %}
