body {
    background-color: #eee;
}

.s-logo {
    width: 26px;
    height: 30px;
    margin: 5px 10px 0 20px;
    background-image: url('../img/logo_transparent.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.navbar .brand {
    padding: 0 !important;
}

.no-underline {
    text-decoration: none !important;
}

.navbar-inner {
    /* IE10 */ 
    background-image: -ms-linear-gradient(top, #0066CC 0%, #006391 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #0066CC 0%, #006391 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #0066CC 0%, #006391 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0066CC), color-stop(1, #006391));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #0066CC 0%, #0089C9 100%);

    /* Proposed W3C Markup */ 
    background-image: linear-gradient(top, #0066CC 0%, #006391 100%);
}

.navbar .brand {
    color: #ddd;
}

.navbar .nav > li > a {
    color: #ddd;
}

.navbar .nav > li > a:hover {
    color: #fff;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    background-color: transparent;
}

.navbar .divider-vertical {
    width: 1px;
    height: 40px;
    margin: 0 9px;
    overflow: hidden;
    background-color: 
    #006391;
    border-right: 1px solid 
    #006391;

}

.navbarupload {

}

.navbarupload .user-nav {
    margin-left: 5px;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width:900px !important;

}

#results {
    width: 880px;
    background-color: #ddd;
    padding: 10px;
    margin-top: 30px;
    clear: left;
    /*min-height: 600px;*/
}

#mininav {
    float: left;
    width: 100%;
    border-bottom: 0px solid #000;
    overflow: hidden;
    position: relative;
}

#mininav ul {
    clear: left; 
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 3%;
}

#mininav ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 3%;
}

#mininav ul li a {
    display: block;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    background: #ddd;
    color: #000;
    text-decoration: none;
    line-height: 1.3em;
}

#mininav ul li a:hover {
    background: #08C;
    color: #fff;
}

#mininav ul li a.active,
#mininav ul li a.active:hover {
    color: #DDD;
    background: #08C;
    font-weight: bold;
}

/* Login/Registration Modal */
.loginBoxInput {
    color: #666;
    text-align: left;
    width: 150px;
}

.login-form {
    margin-left: 20px;

}

.register-form {
    margin-right: 20px;
}

div#login-message,
div#register-message {
    width: 200px;
    color: red;
}

div#login-form .modal-body {
    max-height: 500px !important;
}

/* Load more images from front page button */
div#loadmore {
    background: #a7a7a7;
    text-align: center;
    font-size: 10px;
}

div#loadmore:hover {
    background: #ccc;
    cursor: pointer;
}

/* Tags Page */
#tagCloud { 
    width:600px;
    text-align:center; 
    padding:5px; 
    overflow:auto; 
    font-size:70%; 
    font-family:arial;
    float: right;
    display: inline;
}
    
#tagList { 
    margin:0; 
    padding:0;
}

#tagList li { 
    list-style-type:none;
    float:left;
    margin:0 10px;
    height:35px;
}

#tagList li a {
    text-decoration:none;
    color:#08C;
}

#tagList li a:hover {
    text-decoration:underline;
}

/* User Page */
div#user-profile {
    height: 80px;
    margin: 5px 0 15px 0;
    padding: 10px;
    background-image: -ms-linear-gradient(top, #06C 0%, #006391 100%);
    background-image: -moz-linear-gradient(top, #06C 0%, #006391 100%);
    background-image: -o-linear-gradient(top, #06C 0%, #006391 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #06C), color-stop(1, #006391));
    background-image: -webkit-linear-gradient(top, #06C 0%, #0089C9 100%);
    background-image: linear-gradient(top, #06C 0%, #006391 100%);
}

div.user-avatar {
    height: 75px;
    width: 75px;
    background-image: url('/static/img/avatar.jpg');
    background-size: 75px 75px;
    background-color: #a7a7a7;
    display: inline-block;
    float: left;
}
div.user-info-group {
    float: left;
    display: inline-block;
    margin-left: 10px;
}
div.user-name {
    max-width: 300px;
    vertical-align: top;
    color: #DDD;
}

div.user-title {
    max-width: 300px;
    color: #DDD;
}

div.user-followers {
    width: 75px;
    display: inline-block;
    float: right;
    padding: 8px 15px;
    margin: 0 0 0 10px;
    background-image: -moz-linear-gradient(top, #08C, #05C);
    background-image: -ms-linear-gradient(top, #08C, #05C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-image: -o-linear-gradient(top, #08C, #05C);
    background-image: linear-gradient(top, #08C, #05C);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 
    rgba(255, 255, 255, .2), 0 1px 2px 
    rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 
    rgba(255, 255, 255, .2), 0 1px 2px 
    rgba(0, 0, 0, .05);
}

div.user-views {
    width: 75px;
    display: inline-block;
    float: right;
    padding: 8px 15px;
    background-image: -moz-linear-gradient(top, #08C, #05C);
    background-image: -ms-linear-gradient(top, #08C, #05C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-image: -o-linear-gradient(top, #08C, #05C);
    background-image: linear-gradient(top, #08C, #05C);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 
    rgba(255, 255, 255, .2), 0 1px 2px 
    rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 
    rgba(255, 255, 255, .2), 0 1px 2px 
    rgba(0, 0, 0, .05);
}

span.user-stat-number {
    font-size: 18px;
    text-align: center;
    color: #DDD;
    display: block;
}

span.user-stat-name {
    font-size: 10px;
    text-align: center;
    color: #DDD;
    display: block;
}

.account-avatar-input {
    margin-bottom: 9px;
}

/* Dropscript Styles */

/*-------------------------
	Dropbox Element
--------------------------*/

#dropbox{
	/* background:url('../img/background_tile_3.jpg'); */
	    /* IE10 */ 
    background-image: -ms-linear-gradient(top, #0066CC 0%, #006391 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #0066CC 0%, #006391 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #0066CC 0%, #006391 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0066CC), color-stop(1, #006391));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #0066CC 0%, #0089C9 100%);

    /* Proposed W3C Markup */ 
    background-image: linear-gradient(top, #0066CC 0%, #006391 100%);

	border-radius:3px;
	position: relative;
	margin:25px auto 90px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 897px;

	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox .message{
	font-size: 20px;
	font-weight: bold;
    text-align: center;
    padding-top:160px;
    display: block;
    color: #DDD;
}

#dropbox .message em{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}

/*-------------------------
	Image Previews
--------------------------*/

#dropbox .preview{
	width:220px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 220px;
	max-height:180px;
	border:3px solid #fff;
	display: block;

	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}

/*-------------------------
	Progress Bars
--------------------------*/

#dropbox .progress {
	width:100%;
}

#dropbox .bar {
	position: absolute;
	left:0;
	width:0;
}

#dropbox .preview.done .bar {
	width:100% !important;
}

/* Chops Page */
#chop-image {
    text-align: center;
    margin-bottom: 10px;
    background-color: #ddd;
}

#chop-image img {
    max-width: 890px;
    max-height: 600px;
    padding: 4px;
    line-height: 1;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 
    rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px 
    rgba(0, 0, 0, 0.075);
}

span#add-tag-button > a { /* Override hack to align Tag Image button */
    margin-top: 0;
}
/* Social Buttons on Chops page */

#social-area {
    background: white;
    padding: 10px;
    height: 35px;
    position: relative;
    -moz-box-shadow: 0 1px 1px #ccc;
    -ms-box-shadow: 0 1px 1px #ccc;
    -webkit-box-shadow: 0 1px 1px #CCC;
    box-shadow: 0 1px 1px #CCC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.share-url {
    width: 150px;
    padding: 7px 10px;
    background: 
    #F6F6F6;
    color: 
    #666;
    font-size: 13px;
    border: 1px solid 
    #B9B9B9;
    border-top-color: 
    #A4A4A4;
    -moz-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
    -ms-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
    -webkit-box-shadow: 0 1px 0 
    white,inset 0 1px 1px 
    rgba(0, 0, 0, .17);
    box-shadow: 0 1px 0 
    white,inset 0 1px 1px 
    rgba(0, 0, 0, .17);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
}

.share-service-button .share-service-icon {
    background-image: url('../img/social-icons.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.share-service-icon-facebook {
    background-position: 0 -881px;
}
.share-service-icon-twitter {
    background-position: 0 -52px;
}
.share-service-icon-googleplus {
    background-position: 0 -120px;
}
.share-service-button {
    cursor: pointer;
    text-align: left;
}
.share-panel-services .primary-service {
    float: left;
    width: 35px;
    margin-right: 5px;
}
.share-panel-services {
    line-height: 0;
}
ul.share-group {
    float: right;
}

.share-group li {
    display: inline;
}

.vote-icons {
    line-height: 40px;
    color: #666;
}

.vote-icons a {
    color: #666;
    text-decoration: none;
}

.vote-icons a.upvote-button:hover {
    color: #51A351;
}

.vote-icons a.downvote-button:hover {
    color: #C00;
}

.vote-icons a.upvote-button.highlighted {
    color: #51A351;
}

.vote-icons a.downvote-button.highlighted {
    color: #C00;
}

#social-area .votes {
    font-size: 28px;
    color: #08C;
    margin-right: 4px;
    font-weight: bold;
    position: relative;
    bottom: 2px;
    
}

#social-area ul.img-links {
    float: left;
    margin-top: 5px;
}

#social-area .img-links li {
    display: inline;
}

#social-area .img-links #directFullLink {
    font-size: 36px;
}

#social-area .img-links #directMedLink {
    font-size: 30px;
}

#social-area .img-links #directThumbLink {
    font-size: 26px;
}

#social-area ul.img-links i {
    vertical-align: middle;
}

/* Account > Uploads page */
li.account-uploads {
    width: 240px;
    height: 200px;
}

