{% extends "layout/base.html" %}

{% set active_page = "upload" %}

{% block title %}My Uploads{% endblock %}

{% block content %}
<ul class="nav nav-pills">
  <li><a href="/account">Profile</a></li>
  <li class="active"><a href="/account/uploads">Uploads</a></li>
  <li><a href="/account/password">Password</a></li>
</ul>

<div class="well">
    {% if chops %}
    <ul class="thumbnails">
        {% for i in chops %}
        <li class="account-uploads">
                <a href="/c/{{ i.filename }}" class="thumbnail">
                <img src="{{ s3ThumbsURL }}{{ i.filename }}" alt=""></a>
                {% if i.title %}<h5>{{ i.title }}</h5>{% endif %}
                {% if i.caption %}<p>{{ i.caption }}</p>{% endif %}
        </li>
        {% endfor %}
        
        {% else %}
        <center>
            <h3>
                <i class="icon-asterisk"></i>
                You have not uploaded any screenshots yet! <a href="/upload">Get started!
            </h3>
        </center>
        {% endif %}
    </ul>

</div>
{% endblock %}
