{% extends "layout/base.html" %}

{% set active_page = "account" %}

{% block title %}Update Password{% endblock %}

{% block content %}

<ul class="nav nav-pills">
  <li><a href="/account">Profile</a></li>
  <li><a href="/account/uploads">Uploads</a></li>
  <li class="active"><a href="/account/password">Password</a></li>
</ul>

{% from "auth/_formhelpers.html" import render_field %}
<form class="well" method="post" action="/account/password">
                        
    {# Username and Email are disabled fields #}
    <dl>
        <dt><label>Username</label></dt>
        <dd><input type="text" placeholder="{{ user.username }}" disabled></dd>
        <dt><label>Email</label></dt>
        <dd><input type="text" placeholder="{{ user.email }}" disabled></dl></dd>
    <dl>
    {{ render_field(form.newpass) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.currentpass) }}
    </dl>
    <button type="submit" class="btn btn-success">Update</button>
</form>
{% endblock %}
