    {% set active_page = "account" %}
    {% include 'layout/header.html' %}

    <body>

    {% include 'layout/nav.html' %}

    <div class="container">
        <div class="row-fluid">

            <div>
                <div id="contents">
                    
                    <!-- Display flash message if any errors -->
                    {% with message = get_flashed_messages() %}
                    {% if message %}
                    <div class="alert">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>{{ message[0] }}</strong>
                    </div>
                    {% endif %}
                    {% endwith %}
                    

                        <ul class="nav nav-pills">
                          <li><a href="/account">Profile</a></li>
                          <li><a href="/account/uploads">Uploads</a></li>
                          {# <li><a href="#">Comments</a></li> #}
                          <li><a href="#">Friends</a></li>
                          <li class="active"><a href="/account/password">Password</a></li>
                        </ul>

                    
                    {% from "auth/_formhelpers.html" import render_field %}
                    <form class="well" method="post" action="/account/password">
                                            
                        {# Username and Email are disabled fields #}
                        <dl>
                            <dt><label>Username</label></dt>
                            <dd><input type="text" placeholder="{{ user.username }}" disabled></dd>
                            <dt><label>Email</label></dt>
                            <dd><input type="text" placeholder="{{ user.email }}" disabled></dl></dd>
                        <dl>
                        {{ render_field(form.newpass) }}
                        {{ render_field(form.confirm) }}
                        {{ render_field(form.currentpass) }}
                        </dl>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>


                </div>
            </div>


        </div>
    </div> <!-- /container -->

    {% include 'layout/footer.html' %}
