{% extends "layout/base.html" %}

{% set active_page = "following" %}

{% block title %}Following{% endblock %}

{% block head %}
<!-- Gallery config variables -->
<script type="text/javascript"> 
    var maxPerRow = {{ maxPerRow }};
    var sortType = 'new';
    var page = {{ pageIncr }};
    var pageInc = {{ pageIncr }};
    var user = '{{ session['username'] }}';
    var tag = 'all';
    var time = 'all';
    var showFollowing = 'true';
</script>
{% endblock %}

{% block content %}

{% set active_sub = "new" %}

{% if followlist %}
<div id="following-box">
    <ul class="follow-avatars-list">
        {% for u in followlist %}
        <li>
            <a href="/u/{{ u.username }}">
            <div class="follow-avatar follow-user-popover" data-original-title="{{ u.username }}" rel="popover"
             data-content="{% if u.description %}{{ u.description }} {% else %} This user does not have a profile description. {% endif %}">
                {% if u.avatar %}
                <img src="{{ avatarURL }}{{ u.avatar }}"></img>
                {% endif %}
            </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
                
{% include 'shared/_subs.html' %}

<!-- Gallery -->
<div id="results"></div>

{% else %}
You are not following any users
{% endif %}

{% endblock %}
