{% set active_page = "following" %}
{% set active_sub = "new" %}
{% set requires_loginForms = False %}

{% include 'layout/header.html' %}

<!-- Gallery config variables -->
<script type="text/javascript"> 
    var maxPerRow = {{ maxPerRow }};
    var sortType = 'new';
    var page = {{ pageIncr }};
    var pageInc = {{ pageIncr }};
    var user = '{{ session['username'] }}';
    var tag = 'all';
    var time = 'all';
    var showFollowing = 'true';
</script>

    <body>
    {% include 'layout/nav.html' %}
        <div class="container">

            <!-- Display flash message if any errors -->
            {% with message = get_flashed_messages() %}
            {% if message %}
            <div class="alert">
            <button class="close" data-dismiss="alert">×</button>
                    {{ message[0] }}
            </div>
            {% endif %}
            {% endwith %}
            
            <div class="row-fluid">
                
                <div id="contents">
                
                {% if followlist %}
                <div id="following-box">
                <p><h3>Your Followed Users...</h3></p>
                
                <ul class="follow-avatars-list">
                    {% for u in followlist %}
                    <li>
                        <a href="/u/{{ u.username }}" title="{{ u.username }}">
                        <div class="follow-avatar">
                            {% if u.avatar %}
                            <img src="{{ avatarURL }}{{ u.avatar }}"></img>
                            {% endif %}
                        </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
                
                
                
                
                
                
                
                    {% include 'layout/subs.html' %}

                    <!-- Gallery -->
                    <div id="results"></div>

                </div>
                <div id="loadmore">
                    <span>Load More Chops!</span>
                </div>
                {% else %}
                You are not following any users
                {% endif %}

            </div>
        </div> <!-- /container -->


{% include 'layout/footer.html' %}

