{% set active_page = "help" %}
{% set requires_loginForms = True %}

{% include 'layout/header.html' %}

    <body>
    {% include 'layout/nav.html' %}
        <div class="container">

            <!-- Display flash message if any errors -->
            {% with message = get_flashed_messages() %}
            {% if message %}
            <div class="alert">
            <button class="close" data-dismiss="alert">×</button>
                    {{ message[0] }}
            </div>
            {% endif %}
            {% endwith %}
            
            <div class="row-fluid">
                <div id="contents">
                    <div class="well span8">
                        <h2><i class="icon-question-sign"></i> FAQs</h2>
                        <dl>
                            <dt>What is Screenchop?</dt>
                            <dd>Screenchop is a screenshot ranking site for posting your best images in gaming. Similar
                             to <a href="http://reddit.com" target="_BLANK">Reddit</a>, a unique ranking algorithm is used on
                             the front page to display the latest trending screenshots. Upvote the awesome screenshots, and
                             downvote the bad!</dd><br />

                            <dt>What type of images are allowed?</dt>
                            <dd>We accept only JPG, JPEG, and PNG files only. 5MB Max per image.</dd><br />

                            <dt>What are tags?</dt>
                            <dd>Tags are basically the same as #hashtags. They are used here to categorize screenshots by game
                              and genre. By using tags, you are increasing exposure of your screenshot in the <a href="/tags/">Tags</a>
                              page.</dd><br />
                        </dl>

                        <h2><i class="icon-book"></i> Etiquette</h2>
                        <p>When posting your screenshots, please try to follow the guidelines below. These aren't necessarily
                          enforced, as it is the users that will decide to upvote and downvote content. However, following these
                          simple guidelines will help keep the content quality high.</p>

                        <ul>
                            <li>Scenic, funny, interesting, and artistic screenshots are highly recommended! Interesting screenshots
                              of your toon are also welcome!</li>
                            <li>When possible, remove the user interface (UI) when taking a screenshot. Many games have this option. If
                              not, it's okay! Just try to keep the interface and chat logs minimal if possible</li>
                            <li>Tag your images! Tagging your screenshots increases the chance of exposure as game categories are based on
                              your screenshots being tagged and searchable</li>
                            
                        </ul>

                        <h2><i class="icon-legal"></i> Terms of Service</h2>
                        <h5>TL;DR</h5>
                        <p>If someone else might own the copyright to it, don’t upload it. Don’t upload gore, obscenity, advertising, solicitations, "hate speech" (i.e. demeaning race, gender, age, religious or sexual orientation, etc.), or material that is threatening, harassing, defamatory, or that encourages illegality. Don’t hotlink to such content, or to file-sharing or torrent sites. If you do anything illegal, in addition to any other legal rights we may have, we will ban you along with the site you're hotlinking from, delete all your images, report you to the authorities if necessary, and prevent you from accessing images on Screenchop.</p>

                        <p><a href="/tos">Full ToS here</a></p>

                        <h2><i class="icon-info-sign"></i> About</h2>
                        <p>I am a <a href="https://github.com/alfg" target="_BLANK">Web Developer</a>, Gamer and Redditor! That being said, I created
                           Screenchop as a concept for users to share their ingame screenshots similar to the way the
                           <a href="http://reddit.com" target="_BLANK">Reddit</a> ranking system works.</p>
                        <p>Screenchop is still in an early development phase, so expect frequent updates, bug fixes and major changes within the
                           next few months. I promise to keep the interface clean, intuitive and very minimal on ads.</p>

                        <h2><i class="icon-github"></i> Contribute</h2>
                        <p>Yes! The full Screenchop code is open-source under the MIT License. You can find the code located on
                          <a href="https://github.com/alfg/screenchop" target="_BLANK">Github</a>.</p>
                        <p>Feel free to <a href="https://github.com/alfg/screenchop/issues" target="_BLANK">report bugs</a>,
                          fork, contribute or roll your own image hosting ranking system!</p>
                    </div>

                    <div id="help-sample-images" class="span4">
                        <img class="img-polaroid" src="http://i.screenchop.com/thumbs/nh799"></img> 
                        <img class="img-polaroid" src="http://i.screenchop.com/thumbs/nh799"></img> 
                        <img class="img-polaroid" src="http://i.screenchop.com/thumbs/nh799"></img> 
                    </div>

                </div>
            </div>
        </div> <!-- /container -->


{% include 'layout/footer.html' %}

