{% set active_page = "home" %}
{% set active_sub = "top" %}
{% set requires_loginForms = True %}

{% include 'layout/header.html' %}

<!-- Gallery config variables -->
<script type="text/javascript"> 
    var maxPerRow = {{ maxPerRow }};
    var page = {{ pageIncr }};
    var pageInc = {{ pageIncr }};
    var sortType = 'top';
    var user = 'all';
</script>

    <body>
    {% include 'layout/nav.html' %}
        <div class="container">

            <!-- Display flash message if any errors -->
            {% with message = get_flashed_messages() %}
            {% if message %}
            <div class="alert">
            <button class="close" data-dismiss="alert">×</button>
                    {{ message[0] }}
            </div>
            {% endif %}
            {% endwith %}
            
            <div class="row-fluid">
                
                <div id="contents">
                
                    {% include 'layout/subs.html' %}

                    <!-- Gallery -->
                    <div id="results"></div>
                    
                    <div id="loadmore">
                        <span>Load More Chops!</span>
                    </div>
                </div>
                
            </div>
        </div> <!-- /container -->

{% include 'layout/footer.html' %}
