{% extends "layout/base.html" %}

{% set active_page = "home" %}
{% set requires_loginForms = True %}

{% block title %}Home{% endblock %}
{% block head %}
<!-- Gallery config variables -->
<script type="text/javascript"> 
    var maxPerRow = {{ maxPerRow }};
    var sortType = 'hot';
    var page = {{ pageIncr }};
    var pageInc = {{ pageIncr }};
    var user = 'all';
    var tag = 'all';
    var time = 'all';
    var showFollowing = 'false';
</script>
{% endblock %}

{% block content %}
    {% set active_sub = "hot" %}
    {% include 'shared/_subs.html' %}

    <!-- Gallery -->
    <div id="results"></div>

    {# Disabled loadmore link for now
    <div id="loadmore">
      <span>Load More</span>
    </div>
    #}
{% endblock %}



