{% set active_page = "home" %}

{% include 'layout/header.html' %}

<!-- Gallery config variables -->
<script type="text/javascript"> 
    var maxPerRow = {{ maxPerRow }};
</script>

  <body>


    {% include 'layout/nav.html' %}
    
   

    <div class="container">
    
        <!-- Display flash message if any errors -->
        {% with message = get_flashed_messages() %}
        {% if message %}
        <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
                {{ message[0] }}
        </div>
        {% endif %}
        {% endwith %}
        
        <div class="row-fluid">

            <div>
                <div id="contents">
                
                <div id="mininav">
                    <ul>
                        <li><a href="#">Hot</a></li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">New</a></li>
                        <li><a id="add-category" href="#" rel="tooltip" title="Add custom categories!">+</a></li>
                    </ul>
                </div>

                    <!-- Gallery -->
                    <div id="results"></div>

                </div>
            </div>

<!--
            <div class="span2">
                <h4>Trending</h4>
                <ul class="unstyled">
                    <li><h3><a href="#">#TERA</a></h3></li>
                    <li><h3><a href="#">#SWTOR</a></h3></li>
                    <li><h3><a href="#">#SWTOR</a></h3></li>
                </ul>
            </div>
-->

        </div>
    </div> <!-- /container -->

{% include 'layout/footer.html' %}
