{% extends "layout/base.html" %}

{% set active_page = "help" %}
{% set requires_loginForms = True %}

{% block title %}Request Invitation{% endblock %}

{% block content %}
<div class="row-fluid">      
    <div class="well span8">
        <legend><i class="icon-envelope"></i> Request an invite</legend>
        <form action="/request-invite/" method="POST">
          <label>Email</label>
          <input type="text" name="email">
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div id="help-sample-images" class="span4 pull-right">
        <img class="img-polaroid" src="/static/img/screenshot_samples/sample_02.png"></img>
        <img class="img-polaroid" src="/static/img/screenshot_samples/sample_03.png"></img>
    </div>
</div>
{% endblock %}

