    {% set active_page = "upload" %}
    {% include 'layout/header.html' %}

    <body>

    {% include 'layout/nav.html' %}

    <div class="container">
        <div class="row-fluid">

            <div>
                <div id="contents">
                    
                    <!-- Display flash message if any errors -->
                    {% with message = get_flashed_messages() %}
                    {% if message %}
                    <div class="alert alert-error">
                    <button class="close" data-dismiss="alert">×</button>
                            {{ message[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                    
                    <form class="well" action="uploader" method="POST" enctype="multipart/form-data">
                      <label>Upload a Screenshot</label>
                      <input type="text" class="span3" placeholder="Type something…">
                      <span class="help-block">Example block-level help text here.</span>
                      <input class="input-file" id="fileInput" type="file" name="imageupload" />
                      <br>
                      <input type="hidden" name="uploadType" value="single-upload" />
                      <button type="submit" class="btn">Submit</button>
                    </form>


                    <div id="dropbox">
                    <span class="message">Drop images here to upload.</span>
                    </div>



                </div>
            </div>


        </div>
    </div> <!-- /container -->

    {% include 'layout/footer.html' %}
