{% extends "layout/base.html" %}

{% set active_page = "upload" %}

{% block title %}Upload{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <p><h2>Add from URL...</h2></p>
    <p><h6>*5MB max filesize. PNG, JPG, JPEG Files only.</h6></p>
    <form class="well form-inline" action="urluploader" method="POST">

      {{ urlForm.url(class="input-large", placeholder="Image URL") }}
      {{ urlForm.caption(class="input-large", placeholder="Caption") }}
      {{ urlForm.tags(class="input-medium tagInput", placeholder="Tags", autocomplete="off") }}

      <button type="submit" class="btn btn-success pull-right">Upload</button>
      
    </form>
    
    <p><h2> Upload a Single File...</h2></p>
    <p><h6>*5MB max filesize. PNG, JPG, JPEG Files only.</h6></p>
    <form class="well form-inline" action="uploader" method="POST" enctype="multipart/form-data">

      {{ singleFileForm.caption(class="input-large", placeholder="Caption") }}
      {{ singleFileForm.tags(class="input-medium tagInput", placeholder="Tags", autocomplete="off") }}
      <input class="input-file" id="fileInput" type="file" name="imageupload" />

      <input type="hidden" name="uploadType" value="single-upload" />
      <button type="submit" class="btn btn-success pull-right">Upload</button>
      
    </form>
    
    <p><h2>...Or Drag Images Here!</h2></p>
    <p><h6>*Max 25 images per upload. 5MB max filesize. PNG, JPG, JPEG Files only.</h6></p>

    <div id="dropbox">
    <span class="message">Drop images here to upload.<br />
    {# <em>You can add captions and tags during upload or later!</em> #}</span>
    </div>
{% endblock %}

{% block footer %}
    <script>
    function enableTags() {
    /* Search Tags Typeahead JSON */
    $.getJSON("/api/public/searchTags.json", function(json) {
          $('.tagInput').typeahead({
            source: json.tags
            });
        });
    }
    enableTags();
    </script>
{% endblock %}
