{% set active_page = "home" %}
{% set active_sub = "hot" %}
{% set requires_loginForms = True %}

{% include 'layout/header.html' %}

<!-- Gallery config variables -->
<script type="text/javascript"> 
    var maxPerRow = {{ maxPerRow }};
    var sortType = 'hot';
    var page = {{ pageIncr }};
    var pageInc = {{ pageIncr }};
    var user = '{{ user.username }}';
</script>

    <body>
    {% include 'layout/nav.html' %}
        <div class="container">

            <!-- Display flash message if any errors -->
            {% with message = get_flashed_messages() %}
            {% if message %}
            <div class="alert">
            <button class="close" data-dismiss="alert">×</button>
                    {{ message[0] }}
            </div>
            {% endif %}
            {% endwith %}
            
            <div class="row-fluid">
                
                <div id="contents">
                
                    <div id="user-profile">
                        <div class="user-avatar"></div>
                        <div class="user-info-group">
                            <div class="user-name"><h2>{{ user.username }}</h2></div>
                            <div class="user-title">
                                <h4>{% if user.description %} {{ user.description }} {% else %} {% endif %}</h4>
                            </div>
                        </div>
                        <div class="user-followers">
                            <span class="user-stat-number"><h2>0</h2></span>
                            <span class="user-stat-name">Followers</span>
                        </div>
                        <div class="user-views">
                            <span class="user-stat-number"><h2>{{ score }}</h2></span>
                            <span class="user-stat-name">Chop Score</span>
                        </div>
                    </div>
                
                    {% include 'layout/subs.html' %}

                    <!-- Gallery -->
                    <div id="results"></div>

                </div>
                <div id="loadmore">
                    <span>Load More Chops!</span>
                </div>
            </div>
        </div> <!-- /container -->


{% include 'layout/footer.html' %}

